<div ng-controller="ControladorFrutal as ctlr" ng-init="ctlr.cargarData2('true')">
  
  
    <label>Selecciona una entidad</label>
    <ui-select ng-model="ctlr.identidadSeleccionada" theme="selectize" style="width: 300px;" title="Choose a person">
    <ui-select-match placeholder="Seleciona una entidad">{{ctlr.identidadSeleccionada.nombreEntidad}}</ui-select-match>
    <ui-select-choices  repeat="item in ctlr.entidades.entidades | filter: $select.search"  ng-click="ctlr.obtenerSeriesDisponibles('true',ctlr.identidadSeleccionada.id)">
      <div ng-bind-html="item.nombreEntidad | highlight: $select.search"></div>
      <small>
        entidad {{item.nombreEntidad}}
        region: <span ng-bind-html="item.id | highlight: $select.search"></span>
      </small>
    </ui-select-choices>
    </ui-select>
    
    <label>Numero de serie disponible</label>
    <ui-select ng-model="ctlr.serieSeleccionada" theme="selectize"  style="width: 300px;" title="Selecciona comuna" >
    <ui-select-match placeholder="Selecciona una serie">{{ctlr.serieSeleccionada.id}}</ui-select-match>
    <ui-select-choices repeat="item in ctlr.seriesDisponibles.series  | filter: $select.search">
      <span ng-bind-html="item.id | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>
  
  
  
  
  <label>Usos</label>
  <input type="number" ng-model="ctlr.ampliacionUsos">
  <label>Ordend de compra</label>
  <input type="text" ng-model="ctlr.ordenDeCompra">
  

  <button ng-click="ctlr.ampliarPibe()">Ampliar</button>
  
  
 
</div>