<div ng-controller="calendario as ctlr" ng-init="ctlr.obtenerEventos(); changeLang()">
    <div class="row">
        <div class="col-md-5">
            Nombre eventp : {{prueba.title}}
            <br>
            Detalle evento : {{prueba.detalle}}
            <br>
            <button ng-click="ctlr.eliminiarAgendamiento(prueba.id)"> Eliminar agendamiento</button>
       
        </div>
        <div class="col-md-7">
     <tabset>
                            <tab select="renderCalendar('myCalendar1')">
                              <tab-heading>
                               <i class="glyphicon glyphicon-bell"></i> Calendario Agendamiento
                              </tab-heading>
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">Opciones</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">Diario</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">Semanal</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Mensual</button>
                                </div>
                              </div>
                            <div class="calendario" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                        </tabset>
    </div>
        
   </div>
    
   
</div>