<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div ng-controller = "ControladorFrutal as ctlr" ng-init="ctlr.obtenerProductos()" >

    <div>Estos son los productos</div>
    <button ng-click="ctlr.obtenerProductos()">Listar productos</button>

    <div ng-repeat="cat in ctlr.productos.Categorias">
        <ul ng-repeat="(key,val) in cat">
            <li>{{key}}
                <ul ng-repeat="prod in cat">
                    <li ng-repeat="nombre in prod"><img src="{{nombre.Foto}}" alt="Smiley face" height="150" width="150">
                        <ul>
                            <li>{{nombre.Nombre}}</li>
                            <li>{{nombre.Descripcion}}</li>
                            <li>Precio: {{nombre.Precio}}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
