
<div ng-controller = "ControladorUpload as ctlr" ng-init="ctlr.cargarData()">
    <form>
        <div class="form-group">
            <label >Selecciona entidad</label>
            <ui-select ng-model="ctlr.identidadSeleccionada" theme="selectize" style="width: 300px;" title="Choose a person">
                <ui-select-match placeholder="Seleciona una entidad">{{ctlr.identidadSeleccionada.nombreEntidad}}</ui-select-match>
                <ui-select-choices  repeat="item in ctlr.entidades.entidades | filter: $select.search"  >
                    <div ng-bind-html="item.nombreEntidad | highlight: $select.search"></div>
                    <small>

                        ID: <span ng-bind-html="item.id | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="detalle">Detalle reclamo</label>
            <input type="text" class="form-control" id="detalle" ng-model="ctlr.reclamos.detalleReclamo">
        </div>
        <div class="form-group">
            <label for="nombre_contacto">Nombre contacto</label>
            <input type="text" class="form-control" id="nombre_contacto" ng-model="ctlr.reclamos.nombreContacto">
        </div>
        <div class="form-group">
            <label for="numero_contacto">Numero contacto</label>
            <input type="text" class="form-control" id="numero_contacto" ng-model="ctlr.reclamos.numeroContacto">
        </div>
        <div class="form-group">
            <label for="email_contacto">Email contacto</label>
            <input type="email" class="form-control" id="email_contacto" ng-model="ctlr.reclamos.emailContacto">
        </div>
        <div class="form-group">
            <label for="prioridad">Prioridad</label>
            <input type="number" class="form-control" id="prioridad" ng-model="ctlr.reclamos.prioridad">
        </div>
        <div class="form-group">
            <div>
                <div style="float:right;">
                    <button ng-click="btn_upload()">Subir</button>
                    <button ng-click="btn_clean()">Remover todo</button>
                </div>
                <input type="file" id="file1" multiple/>
            </div>
            <div ng-repeat="file in files"
                 style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
                <div><span>{{file.name}}</span>
                    <div style="float:right;"><span>{{file.humanSize}}</span><a ng-click="btn_remove(file)"
                                                                                title="Remove from list to be uploaded"><i
                            class="icon-remove"></i></a></div>
                </div>
                <progress style="width:400px;" value="{{file.loaded ? file.loaded : 0}}"
                          max="{{file.size}}"></progress>
            </div>
        </div>
          <div class="form-group">
                <label for="areas"> Asignar a: </label>
                <select name="areas" id="areas" ng-model = "ctlr.areaId">
                    <option ng-repeat="area in ctlr.areas" value="{{area.id}}">{{area.nombreArea}}</option>
                </select>
            </div>
        <button type="submit" class="btn btn-default" ng-click="ctlr.ingresarReclamo()">Registrar reclamo</button> <md-progress-circular ng-show="ctlr.spinnerCargando"  class="md-hue-2"  md-diameter="25px"></md-progress-circular>
    </form>
     <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
   
    
</div>